.container {
  /* background-color: red; */
  /* border: 2px solid red; */
  /* text-align: center; */
  width: 100%;
  align-items: center;
  margin: auto;

}

#title {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

.quote {
  /* background-color: #162b2b; */
  /* color: white; */
  color: black;
  border-radius: 6px;
  padding: 3rem;
  margin: 2rem auto;
  width: 100%;
  height: auto;
  border: 2px solid rgb(1, 51, 51);
  justify-content: center;
  border-radius: 20px;
  background-color: #0de49242;
  /* max-width: 40rem; */
}

.quote h1{
  font-size: 3rem;
  font-weight: 700;
}

.quote p {
  font-size: 1.3rem;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #a1e0e0;
}
.navbar{
  margin-top: -3rem;
  position: absolute;
  margin-left: -23vb;
  width: 100vw;
}